<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92055784684-i87h0lcghmi4m4i8a4orr2v5389f4s3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92055784684-i87h0lcghmi4m4i8a4orr2v5389f4s3s</string>
	<key>API_KEY</key>
	<string>AIzaSyBjyMPa9f8appTSPUEq42IBIRD7zrbdz-M</string>
	<key>GCM_SENDER_ID</key>
	<string>92055784684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.majin.mangaTracker</string>
	<key>PROJECT_ID</key>
	<string>manga-tracker-a52cf</string>
	<key>STORAGE_BUCKET</key>
	<string>manga-tracker-a52cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92055784684:ios:623945293c23543d57e9c9</string>
</dict>
</plist>